<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la Stratégie - {{ crypto }}USDT {{ interval }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Résultats de la Stratégie pour {{ crypto }}USDT ({{ interval }})</h1>
    <h2>Paramètres utilisés:</h2>
    <ul>
        <li>Longueur ALMA: {{ parametres.longueurALMA }}</li>
        <li>Sigma: {{ parametres.sigma }}</li>
        <li>Offset: {{ parametres.offset }}</li>
        <li>Décalage: {{ parametres.decalage }}</li>
    </ul>
    
    <h2>Métriques de performance:</h2>
    <table>
        <tr>
            <th>Métrique</th>
            <th>Valeur</th>
        </tr>
        {% for metrique, valeur in metriques.items() %}
        <tr>
            <td>{{ metrique }}</td>
            <td>{{ "%.2f"|format(valeur*100) }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <div id="graphique" style="width:100%;height:600px;"></div>
    <a href="{{ url_for('appliquer_strategie_route', crypto=crypto, interval=interval) }}">Modifier les paramètres</a>
    <a href="{{ url_for('index') }}">Retour à l'accueil</a>
    
    <script>
        var graphiqueJSON = JSON.parse('{{ graphique_json | tojson | safe }}');
        Plotly.newPlot('graphique', graphiqueJSON.data, graphiqueJSON.layout);
    </script>
    <script>
        (function() {
            console.log("Début du script de visualisation");
            var graphiqueJSONString = '{{ graphique_json | safe }}';
            console.log("Longueur de graphiqueJSONString:", graphiqueJSONString.length);
            console.log("Début de graphiqueJSONString:", graphiqueJSONString.substring(0, 500));
            
            try {
                var graphiqueJSON = JSON.parse(graphiqueJSONString);
                console.log("graphiqueJSON parsé avec succès");
                
                if (graphiqueJSON.data && graphiqueJSON.layout) {
                    console.log("Tentative de création du graphique");
                    Plotly.newPlot('graphique', graphiqueJSON.data, graphiqueJSON.layout);
                } else {
                    console.error("graphiqueJSON ne contient pas data ou layout");
                }
            } catch (error) {
                console.error("Erreur lors du parsing de graphiqueJSONString:", error);
            }
        })();
    </script>        
</body>
</html>