<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualiser {{ crypto }}/USDT ({{ interval }})</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Cours de {{ crypto }}/USDT ({{ interval }})</h1>
    <div id="graphique"></div>
    <a href="{{ url_for('index') }}">Retour à l'accueil</a>
    <script>
       (function() {
           var graphiqueJSONString = '{{ graphique_json | tojson | safe }}';
           if (graphiqueJSONString) {
               var graphiqueJSON = JSON.parse(graphiqueJSONString);
               Plotly.newPlot('graphique', graphiqueJSON.data, graphiqueJSON.layout);
           } else {
               console.log("Aucune donnée de graphique disponible");
           }
       })();
    </script>
</body>
</html>